*{
  padding: 0;
  margin: 0;
}

body{
  background: linear-gradient(to right,gray , rgb(214, 214, 214), gray);
  display: flex;
  justify-content: center;
  padding: 10%;
  box-sizing: border-box;
}

#root{
  width: 100%;
}

form{
  position: relative;
}

input{
  width: 90%;
  padding: 10px;
  font-size: 17px;
  border: none;
  border-radius: 40px;
}
button{
  padding: 10px 1rem;
  font-size: 17px;
  border: none;
  border-radius: 40px;
  color: black;
  cursor: pointer;
  transition: 0.4s;
}
.add{
  background-color: lightgreen;
  position: absolute;
  right: 60px;
}
.add:hover{
  background-color: rgb(85, 235, 85);
}

/* Tasks */

.task-container{
  background-color: rgb(168, 168, 168);
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  margin-top: 1rem;
  width: 90%;
  justify-content: space-between;
  border-radius: 10px;
}

p{
  display: inline-block;
  font-size: 20px;
}
.delete{
  background-color: rgb(197, 0, 0);
}
.delete:hover{
  background-color: rgb(255, 61, 61);
}